{% extends "layout.html" %}

{% block content %}
    <div style="display:flex;justify-content:space-between;align-items:center">
        <h2>Personal Blogs</h2>
        <button onclick="window.location.href='/login'" style="height:50px;width:100px;background-color:transparent;border-radius:8px;cursor:pointer">Login</button>
    </div>
    <ul style="list-style-type:none;padding-left:0">
        {% for article in articles %}
            <li style="display:flex;justify-content:space-between">
                <a style="text-decoration:none;color:black;" href="/article/{{ loop.index }}">{{ article.title }}
                </a>
                <a style="text-decoration:none;color:black;" href="/article/{{ loop.index }}">
                    {{ article.date|format_date }}
                </a>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
